In [4]:
import datetime
from src.scenario.past_gen import PastGen

In [5]:
# Extract the Data from the Yahoo Data Source
start_date = datetime.datetime(2017, 3, 29)
end_date = datetime.datetime(2024, 3, 29)
tickers  =  ['IWV', 'VT', 'VTI','ADBE','MSFT','VFH']

In [6]:
past_gen_obj = PastGen(start_date,end_date,tickers,"Close")

In [7]:
data = past_gen_obj.gen_scenarios(0,100)

In [8]:
data_summary  = past_gen_obj.get_summary(data)

In [9]:
data_summary

           VTI_Close  VFH_Close   VT_Close   IWV_Close  ADBE_Close  MSFT_Close
mean      110.538212  52.658102  58.057661  128.674811  140.042601   64.136014
variance    4.156065   2.260289   1.882217    5.513611   43.115305    6.566874
std         2.038643   1.503426   1.371939    2.348108    6.566225    2.562591

In [10]:
past_gen_obj.get_covariance(data)

            VTI_Close  VFH_Close  VT_Close  IWV_Close  ADBE_Close  MSFT_Close
VTI_Close    4.156065   2.619005  2.743476   4.786465   12.520336    4.922497
VFH_Close    2.619005   2.260289  1.681329   3.013003    7.396009    2.756942
VT_Close     2.743476   1.681329  1.882217   3.161374    8.632671    3.367195
IWV_Close    4.786465   3.013003  3.161374   5.513611   14.412820    5.673259
ADBE_Close  12.520336   7.396009  8.632671  14.412820   43.115305   16.057394
MSFT_Close   4.922497   2.756942  3.367195   5.673259   16.057394    6.566874